<% show_comment ||= false %>
<div class="row">
  <div class='span0 well text-center'>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
        <i class='icon-arrow-up'></i>
      <% end %>
      <br />
      <span id="comment_<%= comment.id %>_votes"><%= comment.total_votes %> votes</span>
      <br />
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post', remote: true do %>
        <i class='icon-arrow-down'></i>
      <% end %>
    <% else %>
      <span id="comment_<%= comment.id %>_votes"><%= comment.total_votes %> votes</span>
      <br />
    <% end %>
  </div>
  <div class="well row span8">
    <em>"<%= comment.body %>"</em>
    <% if show_comment %>
      on <%= link_to comment.comment.title, comment_path(comment.comment) %>
    <% else %>
      <span class="quiet">commented by </span><%= link_to comment.creator.username, user_path(comment.creator) %>
    <% end %>
    <small> at <%= display_datetime comment.created_at %></small>
  </div>
</div>
